body {
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
  position: absolute;
  right: 2em;
  bottom: 3em;
  padding: 36px 28px;
  z-index: 9;
  /*cursor: pointer;*/
  user-select: none;
  span {
      height: 8px;
      width: 70px;
      border-radius: 4px;
      background-color: yellow;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -20px;
        visibility: visible;
      }
      &:after {
        top: 20px;
      }
      &:before, &:after {
          height: 8px;
          width: 70px;
          border-radius: 4px;
          background-color: yellow;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
  span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(14px, 14px);
      opacity: 1;
      background-color: pink;
    }
    &:after {
      transform: rotate(-45deg) translate(14px, -14px);
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #747474;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #333332;
        }
      }
    }
  }
}
