/* ----------------------- Mobile dropdown menu ------------------------ */

/* Hide checkbox */
.toggle,
[id^=drop] {
	display: none;
}
/* Media Queries
------------------------------------------------------------ */

@media all and (max-width : 768px) {
	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}
	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding:14px 20px;	
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}


	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
}