@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
/* ---------------------------------------variabels---------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

/* ---------------------------------------filter button (Alle, Produkt, Grafisk)---------------------------------------------------------------*/
.filterDiv {
  display: none;
  color: #464646;
}

/* The "show" class is added to the filtered elements */
.show {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Style the buttons */
.btn {
  z-index: 7;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: #464646;
  padding: 20px;
  display: block;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: fixed;
  right: 20px;
}

.btnAlle {
  top: 20px;
  -webkit-box-shadow: -20px 78px 48px rgba(0, 0, 0, 0.4);
  box-shadow: -20px 154px 48px rgba(0, 0, 0, 0.4);
}

.btnProduct {
  top: 76px;
  -webkit-box-shadow: -20px 108px 48px rgba(0, 0, 0, 0.4);
  box-shadow: -20px 98px 48px rgba(0, 0, 0, 0.4);
}

.btnGraphic {
  top: 134px;
  -webkit-box-shadow: -20px 40px 48px rgba(0, 0, 0, 0.4);
  box-shadow: -20px 40px 48px rgba(0, 0, 0, 0.4);
}

.btn {
  /* change shawow on mouse-over */
  /* change shadow to the active button */
}

.btn:hover {
  -webkit-box-shadow: -9px 5px 22px rgba(0, 0, 0, 0.5);
  box-shadow: -9px 5px 22px rgba(0, 0, 0, 0.5);
}

.btn.active {
  -webkit-box-shadow: 9px 5px 18px rgba(0, 0, 0, 0.6);
  box-shadow: 9px 5px 18px rgba(0, 0, 0, 0.6);
}

.portrait {
  margin-top: 5vh;
}

.size-mobile {
  height: 0;
}

img.navpic {
  position: fixed;
  bottom: -25px;
  width: 100vw;
  min-height: 130px;
  -webkit-filter: drop-shadow(-20px 5px 20px black);
  filter: drop-shadow(-20px 5px 20px black);
  z-index: 4;
  /*scale when hover? a little bit?*/
}

#navMob-pic, #navTab-pic {
  display: none;
}

h1, h2, li a, .btn {
  font-family: 'Montserrat','Roboto', sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #464646;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #464646;
  font-size: 19px;
  padding: 3rem;
  max-width: 700px;
  max-height: 999999px;
}

p a {
  color: #464646;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: none;
  height: 43px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px 5% 0;
}

li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

a.homeAndAbout {
  color: #e7daa8;
}

a.active {
  color: #E4C969;
}

li a:hover {
  color: #000;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 6;
}

/*-------------------------GALLERY----------------------------------------*/
/*----------------------------------Styleing for enkeltsider---------------------------*/
img.logo {
  max-height: 95vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  z-index: -2;
}

.frame {
  outline: 3px solid #464646;
}

.z-front {
  z-index: 5;
}

.z-back {
  z-index: 0;
}

.lighter {
  color: lightgray;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.whitespace {
  padding: 15vh 0;
}

.whitespace-margin {
  margin: 15vh 0;
}

.left-half, .right-half {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3rem;
}

.left-half img, .right-half img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60vw;
}

/* fjern padding-right på overskiften */
section div:first-child {
  margin-right: 0;
}

.right-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 38vh 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-pic, .right-pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-pic img, .right-pic img {
  height: auto;
  width: 40vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.shadow {
  -webkit-box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
  box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
}

.shadow-low {
  -webkit-box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.4);
  box-shadow: -40px 40px 50px rgba(0, 0, 0, 0.4);
}

.shadow-r {
  -webkit-box-shadow: 160px 160px 100px rgba(0, 0, 0, 0.3);
  box-shadow: 160px 160px 100px rgba(0, 0, 0, 0.3);
}

.shadow-up {
  -webkit-box-shadow: -160px -160px 100px rgba(0, 0, 0, 0.3);
  box-shadow: -40px -40px 40px rgba(0, 0, 0, 0.3);
}

.shadow-up-r {
  -webkit-box-shadow: 160px -160px 100px rgba(0, 0, 0, 0.3);
  box-shadow: 40px -40px 30px rgba(0, 0, 0, 0.3);
}

.shadow-left, .shadow-right {
  -webkit-box-shadow: 0px 0px rgba(255, 200, 0, 0.5);
  box-shadow: 0px 0px rgba(255, 200, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shadow-left-gray, .shadow-right-gray {
  -webkit-box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shadow-left-white, .shadow-right-white {
  -webkit-box-shadow: 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shadow-left-red, .shadow-right-red {
  -webkit-box-shadow: 0px 0px #770002;
  box-shadow: 0px 0px #770002;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shadow-right-gray:hover {
  -webkit-box-shadow: 130px 135px rgba(0, 0, 0, 0.5);
  box-shadow: 130px 130px rgba(0, 0, 0, 0.5);
}

.shadow-left-gray:hover {
  -webkit-box-shadow: -160px 160px rgba(0, 0, 0, 0.5);
  box-shadow: -160px 160px rgba(0, 0, 0, 0.5);
}

.shadow-right:hover {
  -webkit-box-shadow: 130px 135px rgba(255, 200, 0, 0.5);
  box-shadow: 100px 140px rgba(255, 200, 0, 0.5);
}

.shadow-left:hover {
  -webkit-box-shadow: -160px 160px rgba(255, 200, 0, 0.5);
  box-shadow: -160px 160px rgba(255, 200, 0, 0.5);
}

.shadow-right-white:hover {
  -webkit-box-shadow: 130px 135px rgba(255, 255, 255, 0.7);
  box-shadow: 100px 140px rgba(255, 255, 255, 0.7);
}

.shadow-left-white:hover {
  -webkit-box-shadow: -160px 160px rgba(255, 255, 255, 0.7);
  box-shadow: -160px 160px rgba(255, 255, 255, 0.7);
}

.shadow-left-red:hover {
  -webkit-box-shadow: -50px 50px #770002;
  box-shadow: -50px 50px #770002;
}

.shadow-right-red:hover {
  -webkit-box-shadow: 50px 50px #770002;
  box-shadow: 50px 50px #770002;
}

.borderline {
  border: 20px solid rgba(255, 200, 0, 0.5);
}

.widescreen img {
  margin-top: 150px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

img.vertical-pic {
  max-width: 35vw;
}

#slim {
  max-width: 30vw;
}
/* ----------------------- Mobile dropdown menu ------------------------ */
/* Media Queries
------------------------------------------------------------------------ */
/*widescreen*/
@media (min-aspect-ratio: 16 / 9) {
  .left-half {
    margin-left: 8rem;
  }
  .right-half {
    margin-right: 8rem;
  }
  .right-header {
    margin-right: 10rem;
  }
  .left-half img, .right-half img {
    width: 50vw;
  }
  #slim {
    max-width: 25vw;
  }
}

/*--------------------------------------------------------ipad----------------------------------------------------------------------*/
@media (max-aspect-ratio: 9 / 7) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
  .whitespace {
    padding: 20vh 0;
  }
  .whitespace-margin {
    margin: 20vh 0;
  }
  img.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  img.vertical-pic {
    max-width: 100%;
  }
  .portrait {
    margin-top: 0;
  }
  .portrait img {
    width: 100%;
    height: 106vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .size-web {
    height: 0 !important;
    width: 0 !important;
  }
  .extra-margin-bottom {
    margin-bottom: 20rem;
  }
  #nav-pic, #navMob-pic {
    display: none;
  }
  #navTab-pic {
    display: block;
    bottom: -5%;
  }
  #slim {
    max-width: 50vw;
  }
  p {
    padding: 0 2rem;
    max-width: unset;
  }
  #home {
    padding-top: 100px;
  }
  #lytt {
    padding-bottom: 100px;
  }
  .left-half, .right-half {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 2rem;
  }
  .left-half img, .right-half img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: max-height 2s;
    transition: max-height 2s;
  }
  .last {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* fiks paddingen */
  section div:first-child {
    margin-right: 2rem;
  }
  .right-header {
    padding: 2rem;
  }
  .widescreen img {
    max-width: 100%;
    margin-top: 0;
  }
  #dipper img {
    display: none;
  }
  .right-pic img {
    margin-top: 1rem;
  }
  .left-pic img, .right-pic img {
    width: 70vw;
  }
  h1 {
    font-size: 8rem;
  }
  p, li a {
    font-size: 2rem;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  .btn {
    display: none;
    padding: 25px;
    font-size: 25px;
    width: 20vw;
  }
  .btnAlle {
    top: unset;
    bottom: 2.5em;
    left: 60vw;
    -webkit-box-shadow: -20px 25px 35px rgba(0, 0, 0, 0.4);
    box-shadow: -20px 25px 35px rgba(0, 0, 0, 0.4);
  }
  .btnProduct {
    top: unset;
    bottom: 2.5em;
    left: 35vw;
    -webkit-box-shadow: -20px 25px 35px rgba(0, 0, 0, 0.4);
    box-shadow: -20px 25px 35px rgba(0, 0, 0, 0.4);
  }
  .btnGraphic {
    top: unset;
    bottom: 2.5em;
    left: 10vw;
    -webkit-box-shadow: -20px 25px 35px rgba(0, 0, 0, 0.4);
    box-shadow: -20px 25px 35px rgba(0, 0, 0, 0.4);
  }
  input[type=checkbox]:checked ~ .btn {
    display: block;
  }
}

/* ----------------------------------------------------phone size ------------------------------------------------------------------*/
@media (max-aspect-ratio: 6 / 8) {
  #nav-pic, #navTab-pic {
    display: none;
  }
  #navMob-pic {
    display: block;
    bottom: -7%;
  }
  p, li a {
    font-size: 3rem;
  }
  #slim {
    max-width: 70vw;
  }
  /* Style the buttons for phone */
}
/*# sourceMappingURL=main.css.map */