body{
    height: 100vh;
    background-color: coral;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: roboto;
  }
  
  li a:hover {
    color: #000;
  }
nav {
    position: fixed;
    vertical-align: bottom;
    
}