@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
:root {
  --boxLeft: calc(100vw/23.41);
}

/* Hide checkbox */
[id^=overlay-input] {
  display: none;
}

/*-------------------PREVIEW------------------------*/
#line-menu a img {
  display: none;
  position: fixed;
  outline: 3px solid #464646;
  outline-offset: -3px;
  box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
  height: auto;
  width: 22vw;
  bottom: 20vh;
}

/* ------------------------------------Boxes---------------------------- */
.boxes div {
  z-index: 4;
  position: fixed;
  background-color: #464646;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  bottom: 0;
  -webkit-transition: ease-in-out 0.7s;
  transition: ease-in-out 0.7s;
  -webkit-box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
          box-shadow: -160px 160px 100px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------Boxes & Previews---------------------------- */
#home:hover img {
  display: block;
  left: 0;
  background-color: #fddb79;
}

#boxHome {
  width: 500px;
  height: 70px;
  left: 80px;
}

#boxAbout {
  width: 250px;
  height: 74px;
  left: 0;
}

#boxBirdsview {
  width: 290px;
  height: 84px;
  left: 60px;
}

#boxskanner {
  width: 130px;
  height: 120px;
  left: 60px;
}

#boxgaga {
  width: 170px;
  height: 96px;
  left: 12vw;
}

#boxstagverk {
  width: 490px;
  height: 56px;
  left: 9vw;
}

#boxmoby {
  width: 150px;
  height: 60px;
  left: 50vw;
}

#boxbixit {
  width: 50px;
  height: 70px;
  left: 56vw;
}

#boxsmoller {
  width: 290px;
  height: 84px;
  left: 70vw;
}

#boxiso {
  width: 40px;
  height: 110px;
  left: 20vw;
}

#boxmotion {
  width: 230px;
  height: 60px;
  left: 30vw;
}

#boxkakskiv {
  width: 98px;
  height: 80px;
  left: 35vw;
}

#boxpipe {
  width: 350px;
  height: 70px;
  left: 60vw;
}

#boxwingman {
  width: 100px;
  height: 90px;
  left: 55vw;
}

#boxrotfot {
  width: 90px;
  height: 110px;
  left: 80vw;
}

#boxblaff {
  width: 200px;
  height: 80px;
  left: 40vw;
}

#boxsydney {
  width: 5vw;
  height: 130px;
  left: 95vw;
}

#boxspenn {
  width: 10vw;
  height: 64px;
  left: 90vw;
}

#boxlytt {
  width: 290px;
  height: 74px;
  left: 80vw;
}

/*-----MAL-----------
  #box {
    width: 290px;
    height: 84px;
    left: vw;
  }
  */
#about:hover img {
  display: block;
  left: calc(1*var(--boxLeft));
}

#birdsview:hover img {
  display: block;
  background-color: #EBF0FE;
  left: calc(2*var(--boxLeft));
}

#skanner:hover img {
  display: block;
  left: calc(3*var(--boxLeft));
}

#gaga:hover img {
  display: block;
  left: calc(4*var(--boxLeft));
}

#stagverk:hover img {
  display: block;
  left: calc(5*var(--boxLeft));
}

#moby:hover img {
  display: block;
  left: calc(6*var(--boxLeft));
}

#bixit:hover img {
  display: block;
  left: calc(7*var(--boxLeft));
}

#smoller:hover img {
  display: block;
  left: calc(8*var(--boxLeft));
}

#iso:hover img {
  background: #6ea8a5;
  background: linear-gradient(126deg, #6ea8a5 24%, #e3efbd 93%);
  display: block;
  left: calc(9*var(--boxLeft));
}

#motion:hover img {
  display: block;
  left: calc(10*var(--boxLeft));
}

#kakskiv:hover img {
  display: block;
  left: calc(11*var(--boxLeft));
}

#pipe:hover img {
  display: block;
  left: calc(12*var(--boxLeft));
}

#wingman:hover img {
  display: block;
  left: calc(13*var(--boxLeft));
}

#rotfot:hover img {
  display: block;
  left: calc(14*var(--boxLeft));
}

#blaff:hover img {
  display: block;
  left: calc(15*var(--boxLeft));
}

#sydney:hover img {
  display: block;
  left: calc(16*var(--boxLeft));
}

#spenn:hover img {
  display: block;
  left: calc(17*var(--boxLeft));
}

#lytt:hover img {
  display: block;
  left: calc(18*var(--boxLeft));
}

/* ----MAL---------
#:hover img {
  display: block;
  left: calc(*var(--boxLeft));
}

/* ------------------------------------GALLERY---------------------------- */
.row {
  position: absolute;
  display: none;
  padding: 0 8px;
  background-color: #fddb79;
}

/*--------------------------------------------------------ipad----------------------------------------------------------------------*/
@media (max-aspect-ratio: 9 / 7) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* hide the nav line */
  #line-menu,
  .boxes div {
    display: none;
  }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  #menu {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 6;
    display: none;
  }
  #menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6em 3em;
    z-index: 9;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #overlay-button span {
    height: 8px;
    width: 70px;
    background-color: #464646;
    position: relative;
    display: block;
    -webkit-box-shadow: -30px 40px 30px black;
            box-shadow: -30px 40px 30px black;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -20px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 20px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 8px;
    width: 70px;
    /*border-radius: 4px;*/
    background-color: #464646;
    -webkit-box-shadow: -30px 40px 30px black;
            box-shadow: -30px 40px 30px black;
    position: absolute;
    content: "";
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #menu {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    -webkit-transform: rotate(45deg) translate(14px, 14px);
            transform: rotate(45deg) translate(14px, 14px);
    opacity: 1;
    background-color: #fddb79;
    -webkit-box-shadow: -20px 20px 30px black;
            box-shadow: -20px 20px 30px black;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    -webkit-transform: rotate(-45deg) translate(14px, -14px);
            transform: rotate(-45deg) translate(14px, -14px);
    background-color: #fddb79;
    -webkit-box-shadow: -20px 20px 30px black;
            box-shadow: -20px 20px 30px black;
  }
  .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 3px solid #464646;
  }
  /* ---------------------------------------------------------HOVER--------------------------------------------- */
  .hoverContainer {
    position: relative;
    display: block;
    width: 100%;
  }
  .galleryImage {
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #464646;
  }
  .hoverContainer:hover .overlay {
    opacity: 0.9;
  }
  .galleryText {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
}

@media (max-aspect-ratio: 9 / 7) and (max-aspect-ratio: 9 / 7) {
  .galleryText {
    font-size: 3rem;
  }
  .column img {
    margin-top: 16px;
    border-width: 5px;
  }
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
    padding: 0 8px 16px;
  }
  nav {
    z-index: 0;
  }
}

@media (max-aspect-ratio: 9 / 7) {
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}

@media (max-aspect-ratio: 9 / 7) and (max-aspect-ratio: 6 / 8) {
  .galleryText {
    font-size: 6rem;
  }
  .column img {
    border-width: 7px;
  }
}
/*# sourceMappingURL=nav.css.map */