@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ------ importing my own font --------------*/
@font-face {
  font-family: "cindieedgy-light";
  src: url(font/cindieedgy-light-webfont.woff2) format("woff2"), url(font/cindieedgy-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.fs-cindieedgy-light {
  font-family: "cindieedgy-light";
}

/* ---------------------------------------variabels---------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  background-color: #ff9d00;
  font-family: "Inter", "Montserrat", Arial, sans-serif;
}

/* ---------------------------------------Header and footer and next---------------------------------------------------------------*/
header,
footer {
  background-color: white;
  border-bottom: 3px solid #222;
  border-top: 3px solid #222;
  position: absolute;
  width: 100%;
}

header h1 {
  margin: 15px 25px;
  font-size: 5em;
}
header img {
  height: 5.1em;
  right: 0;
}

footer h3 {
  width: 70%;
  margin: 5em auto;
  transition: 0.2s;
  cursor: default;
}
footer h3:hover {
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

/* ---------------------------------------Intro---------------------------------------------------------------*/
#intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro h3 {
  width: 60%;
  margin: 0 auto;
  transition: 0.2s;
  cursor: default;
}
#intro h3 span {
  opacity: 0;
}
#intro h3:hover {
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
#intro h3:hover span {
  opacity: 100%;
}

h3 {
  font-size: 28px;
  line-height: 1.4em;
}
h3 a {
  display: inline-block;
  line-height: 0.7em;
  border-bottom: solid 0.15em;
}
h3 a:hover {
  border-bottom: solid 0.3em;
  cursor: pointer;
}

#prosjekt {
  height: 100px;
}

a {
  color: #222;
  text-decoration: none;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: transparent;
}

/* ---------------------------------------Landingsside---------------------------------------------------------------*/
.container {
  width: 60%;
  min-height: 100vh;
  margin: 0 auto 50px auto;
}

img {
  display: block;
}

#index-content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.projectlink {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto 30px auto;
  max-height: 440px;
  overflow: hidden;
  border: 2px solid #222;
}

.projecttitle {
  position: absolute;
  width: 100%;
  bottom: -100px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #222;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.projecttitle h2 {
  font-family: "cindieedgy-light", "Inter", "Montserrat", Arial, sans-serif;
  font-size: 28px;
  margin: 10px 20px;
  font-weight: 100;
}

.projectlink:hover > .projecttitle {
  bottom: 0px;
  opacity: 1;
}

.projectlink img {
  width: 100%;
  height: auto;
}

/* ---------------------------------------Fontstyle general---------------------------------------------------------------*/
h1,
h2,
h3,
h4,
header,
p,
ul,
ol,
q {
  color: #222;
  text-align: left;
  font-family: "Inter", "Montserrat", Arial, sans-serif;
  font-weight: 600;
}

h1 {
  font-family: "cindieedgy-light", "Inter", "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 15em;
  max-width: 100%;
  margin-right: 10px;
}

h3 {
  margin-top: 1em;
  display: block;
  width: 100%;
  max-width: 900px;
}

h4 {
  font-size: 1.6em;
}

ol {
  margin-left: 20px;
}

#cv p,
#cv q,
#cv li,
#cv ol,
#cv ul {
  font-size: 22px;
  font-weight: 500;
}

q {
  font-style: italic;
  font-weight: 300;
  max-width: 50%;
}

#cindie {
  font-size: 2em;
  font-family: "cindieedgy-light", "Inter", "Montserrat", Arial, sans-serif;
}

/* ---------------------------------------Prjosjektsider---------------------------------------------------------------*/
#pagecontent .heading h1 {
  margin: 0;
  line-height: 0.8em;
}
#pagecontent .heading {
  margin: 100px auto;
}
#pagecontent .heading h4 {
  width: 100%;
  margin: 0;
  font-weight: 700;
}
#pagecontent .heading h4 span {
  font-weight: 400;
}
#pagecontent:nth-child(2) {
  margin-top: 0;
}
#pagecontent img,
#pagecontent .motion {
  margin-top: 15vh;
  border: 3px solid #222;
  max-width: 100%;
  max-height: 90vh;
}

.motion {
  height: 100vh;
}

/* ---------------------------------------CV---------------------------------------------------------------*/
#cv section {
  margin-bottom: 25vh;
}
#cv img {
  max-height: 60vh;
  margin-top: 0;
  max-width: 65%;
}
#cv h3 {
  margin-bottom: 0;
}
#cv h3 span {
  font-weight: 400;
}
#cv h4 {
  font-weight: 700;
  text-align: right;
}
#cv p {
  max-width: 700px;
}
#cv ul a,
#cv p a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
#cv li span {
  color: #760074;
}
#cv .heading {
  height: 100vh;
}

#jobb,
#utdannelse,
#referanser {
  border-bottom: 3px solid #222;
  margin-bottom: 4em;
  padding-top: 8vh;
}

#quotes {
  max-width: 60%;
}

#logo {
  background-color: #ff9d00;
  border: 3px solid #222;
  border-color: #464646;
  height: 80vh;
  width: 100%;
}

/* -----------------------------button-------------------------- */
.btn {
  margin-top: 20vh;
  outline: none;
  padding: 1em 2em;
  border: 3px solid #222;
  font-family: "cindieedgy-light", "Inter", "Montserrat", Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  background: #222;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #222;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.btn:active {
  top: 4px;
}

/* ---------------------------------------between---------------------------------------------------------------*/
@media only screen and (max-width: 1350px) {
  h1 {
    font-size: 11em;
  }
  #cv h1 {
    font-size: 15em;
  }
  #quotes {
    max-width: 80%;
  }
}
@media only screen and (max-width: 1110px) {
  h1 {
    font-size: 8em;
  }
  #quotes {
    max-width: 100%;
  }
}
/* ---------------------------------------Ipad---------------------------------------------------------------*/
@media (max-aspect-ratio: 9/7) {
  h1 {
    font-size: 8em;
  }
  .container {
    width: 85%;
  }
  .projecttitle {
    opacity: 1;
    bottom: 0;
  }
  .btn {
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }
  #cv img {
    max-width: 80%;
  }
}
/* ---------------------------------------Phone---------------------------------------------------------------*/
@media (max-aspect-ratio: 6/8) {
  .container {
    width: 94%;
  }
  .projecttitle h2 {
    font-size: 4em;
  }
  h3,
  p,
  img,
  iframe {
    width: 100%;
  }
  h1 {
    font-size: 11em;
  }
  header h1 {
    font-size: 8em;
  }
  h4 {
    font-size: 3em;
  }
  #cv h4 {
    font-size: 2.5em;
  }
  h3 {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
  }
  #intro h3 {
    width: 100%;
  }
  #pagecontent img,
  iframe {
    margin-bottom: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 40vh;
  }
  #pagecontent {
    width: 100%;
  }
  .projectlink {
    max-height: 50vh;
  }
  .projectlink img {
    min-height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #cv img {
    max-width: 100%;
  }
  #cv p,
  #cv q,
  #cv li,
  #cv ol,
  #cv ul {
    font-size: 40px;
  }
  #cv p {
    max-width: 100%;
  }
  .btn {
    font-size: 4em;
  }
  .motion {
    height: 50vh;
  }
}/*# sourceMappingURL=style.css.map */